:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #dbdbdb;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}
